<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Registration and Login App</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

</head>
<body>


	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Library App</a>
			</div>
			<div class="navbar-header">
		        <a href="index.html" th:href="@{/}"><img
		                src="../public/img/icon-library.png" th:src="@{/img/icon-library.png}" /></a>
		        <a href="index.html" th:href="@{/}">Home</a>
		        <a href="users/login.html" th:href="@{/login}">Login</a>
		        <a href="users/register.html" th:href="@{/registration}">Register</a>
		        <a href="authors/author.html" th:href="@{/authorhome}">Authors</a>
		        <a href="publishingHouses/publishingHouse.html" th:href="@{/publishingHousehome}">Publishing Houses</a>
       		    <a href="books/book.html" th:href="@{/bookhome}">Books</a>
       		    <a href="books/search_book2.html" th:href="@{/searchBookTerm}">Search Books</a>
		    </div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="container">
		<h1>Registration and Login with Spring Boot, Spring Security,
			Thymeleaf, Hibernate and MySQL</h1>
		Welcome <span sec:authentication="principal.username"> User</span>
	</div>
</body>
</html>
