<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PublishingHouse Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>PublishingHouse Management System</h1>
		<hr>
		<h2>Save PublishingHouse</h2>

		<form action="#" th:action="@{/savePublishingHouse}" th:object="${publishingHouse}"
			method="POST">
			<input type="text" th:field="*{publishingHouseName}"
				placeholder="PublishingHouse  Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{description}"
				placeholder="PublishingHouse Description" class="form-control mb-4 col-4">
				
				
				<button type="submit" class="btn btn-info col-2"> Save PublishingHouse</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to PublishingHouse List</a>
	</div>
</body>
</html>