<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Book Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Book Management System</h1>
		<hr>
		<h2>Update Book</h2>

		<form action="#" th:action="@{/saveBook}" th:object="${book}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{name}" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{subname}" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{serialName}" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{isbn}" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{description}" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{authorName}" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{publishingHouseName}" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Update Book</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Book List</a>
	</div>
</body>
</html>